node_modules/
.env
.DS_Store
.idea/
.vscode/
playwright-report/
test-results/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pytest_cache/
coverage/
logs/
*.log
dist/
coverage/
__pycache__/
.pytest_cache/
